@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Payslip Calculator</h1>
    <div class="text-start">
        <h2>How to use:</h2>
        <p>To generate a payslip, please navigate to the calculator using the navbar above.</p>
        <h5>Assumptions made</h5>
        <ul>
            <li>The rounding strategy used for the results aren't consistent. The only value that isn't the default is Net Income.</li>
            <li>All fields are assumed to be required and validates accordingly.</li>
            <li>Class properties are named using the Pascal convention.</li>
            <li>Variables are named using camelCase convention.</li>
        </ul>
    </div>
</div>
